
#splash
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50000;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: none;
}

#error
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50001;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: none;
}

.mincontent
{
	min-height: 600px;
}

#footer
{

}
