/* Sticky footer styles
-------------------------------------------------- */
html
{
	position: relative;
	min-height: 100%;
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body
{
	padding-top: 50px;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}


.footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
}

/*
 * Global add-ons
 */

.sub-header
{
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.global-search
{
	font-weight: 300;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top
{
	border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar
{
	display: none;
}

@media (min-width: 768px)
{
	.sidebar
	{
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}

}


/* Sidebar navigation */
.nav-sidebar
{
	margin-right: -15px;
	margin-bottom: 20px;
	margin-left: -15px;
}

.nav-sidebar > li > a
{
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus
{
	color: #fff;
	background-color: #428bca;
}

.navbar-left
{
	width: 200px;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	line-height: 20px;
	padding-left: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 18px;
}


/*
 * Main content
 */

.main
{
	padding: 20px;
}

@media (min-width: 768px)
{
	.main
	{
		padding-right: 40px;
		padding-left: 40px;
	}

}

.main .page-header
{
	margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

	.placeholders
	{
		margin-bottom: 30px;
		text-align: center;
	}

	.placeholders h4
	{
		margin-bottom: 0;
	}

	.placeholder
	{
		margin-bottom: 20px;
	}

	.placeholder img
	{
		display: inline-block;
		border-radius: 50%;
	}



/*
 * Off Canvas
 */
@media screen and (max-width: 768px)
{
	.row-offcanvas
	{
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	.row-offcanvas-left .sidebar-offcanvas
	{
		left: -33%;
	}

	.row-offcanvas-left.active
	{
		left: 33%;
	}

	.sidebar-offcanvas
	{
		position: absolute;
		top: 0;
		width: 33%;
		margin-left: 10px;
	}

}



#sidebarNavToggleButton
{
	float: left;
	padding: 10px 9px;
	margin-top: 12px;
	margin-left: -9px;
	margin-right: 9px;
	margin-bottom: 8px;
}

#splash
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50000;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	overflow: hidden;
	display: none;
}

#error
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50001;
	height: 100%;
	width: 100%;
	background-color: #FF0000;
	overflow: hidden;
	display: none;
}

#contentRegion
{
	background-color: #FFFFFF;
	margin-top: 10px;
}

#sidebarRegion
{
	margin-top: 10px;
}


#toast-container > div {
    width: 300px;
}
