						<div>
								Testing One!
								<br />
								<label>Field 1</label>
								<input type="text" />
								<br />
								<label>Field 2</label>
								<input type="number" />
								<br />
								<button id="acceptFormActionButton" type="button">OK</button>
						</div>