				<div id="sidebar">
					<header>
						<img src="images/user.jpg">
						<div>
							<span>hello@example.com</span>
							<div class="mdl-layout-spacer"></div>
							<button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
								<i class="material-icons" role="presentation">arrow_drop_down</i>
								<span class="visuallyhidden">Accounts</span>
							</button>
							<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
								<li class="mdl-menu__item">hello@example.com</li>
								<li class="mdl-menu__item">info@example.com</li>
								<li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
							</ul>
						</div>
					</header>
					<nav class="mdl-navigation">
						<a class="mdl-navigation__link" href="javascript:void(0);" data-route="Dashboard" data-i18n-t="Views.Dashboard.Title"><i class="material-icons" role="presentation">home</i>Dashboard</a>
						<a class="mdl-navigation__link" href="javascript:void(0);" data-route="Form" data-i18n-t="Views.Form.Title"><i class="material-icons" role="presentation">forum</i>Form</a>
						<a class="mdl-navigation__link" href="javascript:void(0);" data-route="Globalization" data-i18n-t="Views.Globalization.Title"><i class="material-icons" role="presentation">flag</i>Globalization</a>
						<div class="mdl-layout-spacer"></div>
						<a class="mdl-navigation__link" href="javascript:void(0);" data-route="Tabular" data-i18n-t="Views.Tabular.Title"><i class="material-icons" role="presentation">report</i>Tabular</a>
					</nav>
				</div>
