						<div class="row">
                            <table id="sampleTable" class="mdl-data-table">
                                <thead>
                                    <tr>
                                        <th class="fullwidth">A</th>
                                        <th class="fullwidth">B</th>
                                        <th class="fullwidth">C</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>